# Data Quality Inspection and Data Cleaning

## Objectives

In this reading assignment you’ll be able to:

* Describe why data quality is relevent,
* Inspect data quality using data profiling and Visualisation,

* Find three common probelms that a machine learning engineer faces while cleaning  the data,

* Explain why data Monitoring and Version Control is necessary.

## Data Quality

Data quality is the absence of intolerable defects. It is not the absence of defects.
Every organization will have defects in data. It is the absence of defects that would have real, measurable negative business
impact.[2]

## Why Data Quality is Relevant?

__"Data-intensive projects have a single point of failure: data quality."- [George Krasadakis, Data Quality in the era of A.I.](https://www.freecodecamp.org/news/data-quality-in-the-era-of-a-i-d8e398a91bef/)__ 


A machine learning algorithm discovers a pattern in data and successfully predicts the given data's output value without explicit programming. Hence, data is vital for machine learning. To train a predictive model, first, data must be right. It should be unbiased with the correct level.
The quality of data used in a machine learning project will inevitably impact project success even though the business objective is clear.




__"If Your Data Is Bad, Your Machine Learning Tools Are Useless." - [ Thomas C. Redman](https://hbr.org/search?term=thomas%20c.%20redman)__

In another article on Harvard Business Review [ Thomas C. Redman](https://hbr.org/search?term=thomas%20c.%20redman) states, "[Bad Data Costs the U.S. $3 Trillion Per Year.](https://hbr.org/2016/09/bad-data-costs-the-u-s-3-trillion-per-year)" Therefore data quality is a crucial aspect of machine learning. Now let's discuss how to recognize high-quality data.

## What is high-quality data?

"Data is high quality if it is fit for [its] intended uses in operations, decision making, and planning. Data is deemed of high quality if it correctly represents the real-world construct to which it refers."- [Wikipedia](https://en.wikipedia.org/wiki/Data_quality)


* It means quality data should reflect the logic of the business process or meet the needs of customers.

## What are the features of high quality data?

<image>
<center>
<img src='https://drive.google.com/uc?id=1UfJSGy_o5nN7uuwJk05oJlh9jzWjPe40' height=500/>
<Figcaption>Figure 1: Features of High quality data </Figcaption>
</center>
</image>


* Accurate:
    * Accuracy implies that the data represents a real-world entity the same as the one that should have been represented.

* Complete:
    * Completeness is the ability of data to represent every
meaningful state of the real-world entity. Completeness refers to the completeness of the information set available to support a user's needs.  For example, if one channel is missing in an RGB image, it cannot show the real color; the image is incomplete.

* Consistent:
    * Consistency refers to the consistent representation and interpretation of data across
repositories, tables. Data is consistent if it doesn't violate semantic rules defined
over (a set of) data items, where items can be tuples of relational tables or records in a file. For example, the Integrity constraint MYSQL database.


* Timely:
    * A timely data represents the reality (change of the real-world state) from the required point in time. Outdated data can be worse than no data. 


* Reliable:
    *  Reliability indicates the correctness of data. In reliability, you measure "whether the data can be counted on to convey the
the right information." 

* Valuable:
    * Data should add value to the business.
* Interpretable:
    * Data should be interpretable.

## Types of Data


Data represent the real-world entity in a format that can be stored, retrieved,
and used by a software application and communicated through a network. Therefore data may be structured or unstructured.

1. Structured, when each data element has an associated fixed structure. Example: Relational database or tabular data are the most popular type of structured data.

2. Unstructured, when data are expressed in natural language, no specific
structure or domain types are defined. Example: text data, images, and videos.

In this reading assignment, we will first discuss data quality inspection in structured tabular data, and then we will discuss data quality inspection in unstructured data, mostly text, and Images.

## How do you inspect the quality of the data?


<image>
<center>
<img src='https://drive.google.com/uc?id=1fAf0P-6UfhF8mvdXUwc1Amhpv12O3h7o' height=500/>
<Figcaption>Figure 2: Methods of Data Quality Inspection</Figcaption>
</center>
</image>

The two common approach of data quality inspection is: Data Profiling and Data visualization.

### Data Profiling

Data profiling is a process of analyzing, understanding content, and interrelationships on the raw data to characterize the information embedded within a data set. Data profiling collects statistics and meta-information about available data that provide insight into the content of data sets.

Data profiling utilizes methods of descriptive statistics.
Descriptive statistics include those that summarize the central tendency, dispersion, and shape of a dataset’s distribution, excluding NaN(not a number) values. You can use the results of data profiling to formulate a hypothesis about the data features.

In data science, you can find the descriptive statistics of your dataset using  Pandas [dataframe.describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html).

In data profiling for a numerical column, you can find:

1. Count:
    * Count is the number of non-missing data points for each variable.

2. Mean:
    * Mean is average. The calculation of the mean incorporates all values in the data. Suppose you change one value, then the average value changes. In a normal distribution, the average represents the center of data points. However, It doesn't happen in a skewed distribution.  

3. Standard deviation(Std):
    * Standard deviation tells you how spread out the data is. It is a measure of how far each observed value is from the mean. In any distribution, about 95% of values will be within two standard deviations of the mean.
4. Minimum value(min):
    * Min is the minimum value in a column.
5. Percentile:
    * Percentile is a number where a certain percentage of scores fall below that number. 
6. Maximum value (max):
    * Max is the extreme or maximum value in a column.

You can also find mode, frequency, and other metadata information like data type, unique values, etc. that describes the data. You can represent all these statistics in the graph, which I will discuss in data visualization.

### Visualisation

Reading each row and columns of tabular data and trying to understand it is infeasible. You can extract knowledge from the data and present it to any audience using data visualization.

Data visualization is the graphical representation of information in the data by using charts, graphs, etc.  
This chapter will focus on different types of graphs and charts that a machine learning engineer uses to visualize data.

### Bar Plot

The bar plot shows the relationship between a numeric and a categoric variable. In the bar plot, the categorical variable is represented as a bar, and the size of the bar represents its numeric value.

<image>
<center>
<img src='https://drive.google.com/uc?id=1X2MWCIsxCI0sUp_C0lK-Oa2lVHbgtfiX'/>
<figcaption> Figure : Bar Plot </figcaption>
</center>
</image>

The above figure shows run scores by group and gender. In the group, `G1`  men scored 30, and females scored 35 runs. Similarly, you can interpret the values in the bar chart.

### Histogram

A histogram is a representation of the distribution of numerical data that gives a discretized display of value frequency.
The data points are split into discrete, evenly spaced bins, and the number of data
points in each bin are plotted. 




<image>
<center>
<img src='https://drive.google.com/uc?id=1jS0t_0_w_FV_yT4sjAc7Yt5gAg_Wnwtj' />
<figcaption> Figure : Histogram of Price column</figcaption>
</center>
</image>

In the above figure, the histogram contains the frequency distribution of the `price($1000s)` column. Most of the price value lies in between approx `17` to `25` thousand. Price Values between `40-50` are outliers.

### Boxplot

Boxplots are a standardized way of displaying the distribution of data based on a five number summary: `minimum`, `first quartile (Q1)`, `median(Q2)`, `third quartile (Q3)`, and `maximum.`

<image>
<center>
<img src='https://drive.google.com/uc?id=1HA6nFmliLI57NT1Qrv-CVE3TT78bbwQo'/>
<figcaption> Figure : Boxplot</figcaption>
</center>
</image>

In the above figure green color points are outliers. Most of the value lies inside interquartile range(IQR). Median is a middle value which is given by Q2.

### Scatter Plot
A scatterplot shows the relationship between two numerical variables. 
For example, following scatterplot shows the  `price`and on x-axis and `LSTAT` is on y-axis:

<image>
<center>
<img src='https://drive.google.com/uc?id=1XP4uulPz5E3SrLxXQ6ZOGXMsBwsHvoQD'/>
<figcaption> Figure : Scatterplot </figcaption>
</center>
</image>

Scatterplot describes the correlation between the two variables. In the above figure, as `price` increases, the value of `LSTAT` decreases. It means `price` and `LSTAT` are negatively correlated.

### Heatmap
A heatmap is a 2D graphical representation of data where the individual values that are contained in a matrix are represented as colors. The following diagram is a heatmap of correlation between the variables.
<image>
<center>
<img src='https://drive.google.com/uc?id=1PoCcONDi6WWrLYqVwxUQ-jSV8RHzlT2O'/>
<figcaption> Figure : Heatmap</figcaption>
</center>
</image>

In the above heatmap, all diagonal value is one. It's because the correlation between two identical variables is one.
The `LSTAT` and the price column has a -0.74 value of correlation. It is a negative correlation. `TAX` and `RAD` column is positively correlated, and their value of correlation is 0.91. The takeaway of this heatmap is that you cannot use`TAX` and `RAD` as the independent variable in the linear regression problem because it violates the linear regression assumption. Linear regression assumes that the independent variable should not be highly correlated. 
You should drop one column, either `TAX` or `RAD.` The dropped column is irrelevant.

There are other visualization tools like:
* [Violin plot](https://seaborn.pydata.org/generated/seaborn.violinplot.html),
* [Joint plot](https://seaborn.pydata.org/generated/seaborn.jointplot.html), etc.


You can apply them according to your use case.

## Data Cleaning Process

The first step to data cleaning is to identify impurity in your dataset. Impurities creates cleaning problems in the dattaset.  Some Common Cleaning Problems are:

* Irrelevant data
* Parsing and Type Conversions
* Structural Errors (check for typos and mislabeled classes)

### __Irrelevant feature__

As I have already shown you in heatmap either `TAX` or `RAD` becomes irrelevant because there is no point in using two independent correlated features because it will just increase computation time and adds no significant impact on model performance.An example is linear regression.

There is another problem you will face so called parsing and type conversion. Your dataset may contains datetime features. Using datetime column you can extract other features which is called parsing. Type conversion problem is just datatype conversion problem. Let's discuss parsing and type conversion on  the new exmaple.

### __Parsing and Type Conversions__

Suppose a King's garage buys used Ford's cars and sells it to other customers. King's garage wants to predict how much a car will cost for them when they buy it form owners. 
Column details:
* purchase_date: Date of purchase of new car 
* sold_date: Date of car sold in King's garage
* model: Car's model name
* car_class: Class of cars
* Price in dollars: Cost price of King's garage

In [1]:
import pandas as pd
car = {
    "purchase_date":['2016-04-16','2015-11-21','2015-07-06','2018-12-02'],
    "sold_date": ['2018-05-22','2017-09-18','2016-01-01','2019-08-04'],
    "model":['e-series', 'mustang', 'mustang' , 'E-SERIES'],
    "car_class":['third','first',1,'first'],
    "Price in dollars":[3495.0,4217.0,5000.0,4225.0]

}
df_ = pd.DataFrame(car)

In [2]:
df_

  purchase_date   sold_date     model car_class  Price in dollars
0    2016-04-16  2018-05-22  e-series     third            3495.0
1    2015-11-21  2017-09-18   mustang     first            4217.0
2    2015-07-06  2016-01-01   mustang         1            5000.0
3    2018-12-02  2019-08-04  E-SERIES     first            4225.0

In [3]:
df_.dtypes

purchase_date        object
sold_date            object
model                object
car_class            object
Price in dollars    float64
dtype: object

__Type Conversion__

In the given data set `Price in dollars` Column has all integer value. However, datatype of this column is float type. Therefore, you need to convert it into integer using pandas [astype()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) method.


<image>
<center>
<img src='https://drive.google.com/uc?id=1XeL-x5fsnVwXLIziT1TEyQ3a5izEQvCM' />

</center>
</image>

In [4]:
df_['Price in dollars'] = df_['Price in dollars'].astype('int')
df_

  purchase_date   sold_date     model car_class  Price in dollars
0    2016-04-16  2018-05-22  e-series     third              3495
1    2015-11-21  2017-09-18   mustang     first              4217
2    2015-07-06  2016-01-01   mustang         1              5000
3    2018-12-02  2019-08-04  E-SERIES     first              4225

__Parsing__


In this section, you will see examples of DateTime parsing. Using DateTime data, you will calculate days of car used.

* Parsing is mostly used in Web scraping to clean HTML DOM.

<image>
<center>
<img src='https://drive.google.com/uc?id=1aN2P41W47zwnVBzZFWHgV8pfQ-IuQXGw' />

</center>
</image>

_The column `purchase_date` and `sold_date` has object datatype; however, it should be in DateTime format. Let's type convert object type dates to DateTime format/datatype._

In [5]:
df_['purchase_date'] = pd.to_datetime(df_['purchase_date'], format ="%Y-%m-%d") 
df_['sold_date'] = pd.to_datetime(df_['sold_date'], format ="%Y-%m-%d")

In [6]:
df_.dtypes

purchase_date       datetime64[ns]
sold_date           datetime64[ns]
model                       object
car_class                   object
Price in dollars             int64
dtype: object

_Let's calculate how many days the owner used his car and went to sell it to King's garage._

In [7]:
df_['used days'] = (df_['sold_date'] - df_['purchase_date']).dt.days

In [8]:
df_

  purchase_date  sold_date     model car_class  Price in dollars  used days
0    2016-04-16 2018-05-22  e-series     third              3495        766
1    2015-11-21 2017-09-18   mustang     first              4217        667
2    2015-07-06 2016-01-01   mustang         1              5000        179
3    2018-12-02 2019-08-04  E-SERIES     first              4225        245

### __Structural Errors__


<image>
<center>
<img src='https://drive.google.com/uc?id=1Vgn_F-no0OwUu_IOsR9l-YRJTeDS4I-f' />
<Figcaption>Figure 2: Structural Errors in Data </Figcaption>
</center>
</image>


__Inconsistent Capitalization__

* In the column model, the e-series is in uppercase and lowercase both. It would be best if you made it consistent because while encoding this data, the encoder will take the lowercase and uppercase word as a different entity. Consistent means either lowercase or in uppercase. In our case, I will make it lowercase.



<image>
<center>
<img src='https://drive.google.com/uc?id=1iJqYPParauXfy763Ft_DPfHvZsQCDqUg' />

</center>
</image>

_Let's solve inconsistent capitalization problem._

In [ ]:
df_.model = [x.lower() for x in df_['model']]
df_


__Mislabeled Classes__

* The second problem of structural error is the mislabeled class. In the column `car_class,` you will see the use of number 1 and first. One and first is logically same. You can label this correctly by replacing 1 with first.


<image>
<center>
<img src='https://drive.google.com/uc?id=1Qp_KyCXLih3ExOoPqBST-w6_QukvKwGo' />

</center>
</image>

_Let's Solve Mislabeled class problem._

In [ ]:
df_.car_class.replace(1, 'first', inplace = True)
df_

 Now let's discss about quality inspection in unstructured data.

## Data quality Inspection and Cleaning in Unstructured Data.

You have already learned about different data quality inspection and cleaning in tabular data. The question now comes into mind about non-tabular data, for example, text and images. In this section, I will give you some insights about data quality issues in text and Images.


__Data quality inspection on Images__

Low-quality images are an unavoidable reality for many real-world computer vision applications.  They can be life-threatening at an extreme level, limiting autonomous vehicles and traffic controllers to safely navigate their surroundings. Therefore it is essential to measure the quality of images. Image Quality Assessment is a challenging task yet highly important.
You can inspect image quality using:

1. Hosaka Plot:
    * Hosaka Plot used to evaluate the quality of a compressed image. 

2. Histogram:
    * Since histograms contain cumulated information of the image grey value histogram measure gives a global impression of the image quality by considering statistically relevant effects. 



__Data quality inspection on Text__

Text data mostly come from social media or the web. Therefore can occur with `HTML` tags or with `XML` tags. 
Some problems that text data might have are:

* Misspelling 
* Random white spaces in-between words
* HTML tags, XML tags and special character.

All these problems are inspected and solved using the NLTK library,

After the inspection, you will know the different issues it has, and you solve it. It requires data versioning and monitoring. Let's discuss them.

## Data Versioning

The basic idea of data versioning is that, as you work, you create static copies of your work so that you can refer it back.

<center> Table 1: Sentiment analysis data(raw)</center>

| Sentiment| Message|
|----| ---|
|Happy|  \\\r May all the love you gave to us come back to you a hundredfold on this special day! |
|Happy| \\\n Summer will end  soon enough Hurrey <:)|
|Sad| #Bad_day \n Some days are just bad, that's all. |


 For example, You have raw data of sentiment analysis. After getting that data, you preprocess it and clean it. The preprocessing step may include the removal of a special character using Regex. It is a static copy of your data. Let's say it is version one(v1). 

<center> Table 2: Sentiment analysis data(v1)</center>

| Sentiment| Message|
|----| ---|
|Happy| may all the love you gave to us come back to you a hundredfold on this special day |
|Happy|summer will end soon enough hurrey|
|Sad| bad day some days are just bad that's all |



The `Sentiment analysis data(v1)` is particularly important when working in a team because it aids in reproducibility; there is no point to preprocess data again.  However, sharing of processed data which changes often makes no sense. Therefore, it is preferable to share raw data and the scripts and notebooks that transform raw into the processed data. The idea that you should version your data is somewhat controversial.

Suppose you built the sentiment analysis model using the pre-processed table 1 dataset. After some months, you collected additional data. You can either use newly collected data to create a model or use combined data to create a model. Data changes over time; therefore, data versioning is used. Data versioning is used to keep track of the collected dataset at a different time. It is somewhat similar to git, which is used to track changes in any set of files during software development.

Some open source data version control system are: DVC, MLflow, etc.





**Note the exciting point. Here raw data represents ground reality; however, preprocessed data don't.**


__When should you version your data?__

* When making metadata changes, like adding or deleting columns or changing the datatype.

* When you're training experimental machine learning models. You can apply a different version of your data and test its performance on the model. 


__When should you consider not versioning your data?__

* If your data is large enough that storing a versioned copy would be expensive.

* If you are version controlling your code in git hub. Git hub doesn't support large files. You can use [GitLFS ](https://git-lfs.github.com/) in this case, but in general, it is not recommended.

## Data monitoring

Data monitoring is the process of actively correcting and judging your data and its quality to ensure that it fits for purpose. 

To monitor data, you must specify data quality metrics or criteria tied to specific business objectives.  After establishing the preliminaries, you can compare the results over time, allowing for your data improvement.



__Benefits of data monitoring:__

1. Data monitoring helps you to identify the problem that is observed using different versions of data.

2. Data monitoring helps you to identify where you should focus your data quality initiatives.

3. Data monitoring helps you verify data fields for completeness, uniqueness, statistical anomalies, and more. 

4. Data monitoring helps you to visualize fluctuations in data quality levels over time.

## Key Take-Aways
* High-quality data beats fancy algorithms.

* Data profiling and visualization are used to check the quality of data. Note: This is not the only step to observe data quality. 

* Some common data cleaning problems are:

    * Irrelevant/inconsistent data
    * Parsing and Type Conversions
    * Structural Errors (check for typos and mislabeled classes)

* Irrelevant data is dropped while inconsistent data is made consistent.

* Parsing is mostly used in DateTime data handling and web scraping to clean HTML DOM.
* Structural data are inconsistent data.

# References

[1] Cai, L. and Zhu, Y., 2015. The Challenges of Data Quality and Data Quality Assessment in the Big Data Era. Data Science Journal, 14, p.2. DOI: [http://doi.org/10.5334/dsj-2015-002](http://doi.org/10.5334/dsj-2015-002)

[2] McKnight, W. (2013). Information management: strategies for gaining a competitive advantage with data. Newnes.

[3] Olson, J. E. (2003). Data quality: the accuracy dimension. Elsevier.

* Read page number: 3-4 and 9-13.

[4] Sadiq, S. (Ed.). (2013). Handbook of data quality: Research and practice. Springer Science & Business Media.
* Read page number: 18-24.



[5] [Data quality Wikipedia](https://en.wikipedia.org/wiki/Data_quality)